:root {
    --heder-mailto-color: #2196F3;
    --heder-tel-color: #757575;
    --heder-link-mailto: #212121;
    --section-h: #FFFFFF;
    --footer-contact:rgba(255, 255, 255, 0.6);
    --logo-dark: #000000;
    --btn: #188CE8
}
p, h1, h2, h3{
    margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
a{
    text-decoration: none;
    
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    margin: 0 auto;
    
}

/*header*/

  .header{
    border-bottom: 1px solid #ECECEC;
    
  }
  
.heder-logo{
    display: flex;
    align-items: center;
} 
.site-nav{
    display: flex;
    align-items: center;
} 

.header-list{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
    
}

.header-item{
 margin-right: 50px;
}
.header-item:last-child{
    margin-right: 0;
}
.logo+.site-nav{
    margin-left: 93px;
}
.heder-connekt+.heder-connekt{
    margin-left: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
   letter-spacing: 0.03em;
  color: var(--heder-mailto-color);

}
.logo-dark  
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-dark);
}


.header-link-contact {
 padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-link-mailto);
  display: block; 
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.header-link-contact:hover,
.header-link-contact:focus{
    color: var(--heder-mailto-color);
}
.header-link-contact {
    cursor: pointer;
}
.header-list .current{
    color: #2196F3;
    position: relative;
}
.current{
    position: relative;
}
.current::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom:-1px;
    background-color: var(--heder-mailto-color);
}




.header-list .header-connekt:not(:last-child){
    margin-right: 30px;
}

.header-link {
    display: flex;
    align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-tel-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} 

.header-link:hover,
.header-link:focus
{
    color: var(--heder-mailto-color);
}
.header-link-icon-m{
fill: currentColor;
margin-right: 10px;
}

 .header-link-icon-t{
   fill: currentColor; 
   margin-right: 10px;
} 

/*main*/
.hero{
background: #2F303A;

padding-top: 200px;
padding-bottom: 200px;
}
.overlay{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../img/Heder.img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.title{
 font-weight: 900;
font-size: 44px;
line-height: 1.36;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--section-h);
margin-bottom: 30px;
width: 696px;
margin-left: auto;
margin-right: auto;
}
.btn{
    border: transparent;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--section-h);
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .btn{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .btn:hover,
 .btn:focus{
     color: var(--btn);
 }
 
   
    /*Особенности работы*/

  
   .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icon{
    display: block;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}
.features-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}


.features-list{
    display: flex;
   
}
.features-item+.features-item{
    margin-left: 30px;
}
    .features-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--heder-link-mailto);
margin-bottom: 10px;
}
.features-text{
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
}


/*Чем мы занимаемся*/
.work{
    padding-top: 0;
}
.work-list{
 display: flex;
justify-content:center;
 position: relative; 
}
.work-item+.work-item{
    margin-left: 30px;
}
.work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-link-mailto);
margin-bottom: 50px;
}
/* .work-item{
position: relative;
} */
.work-thumb{
   display: flex;
   align-items: flex-end;
    position: relative;
}
 
.thumb{
     display:flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    z-index: 2;
}
.thumb-text{
    font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

}


/*Наша команда*/
.about{
    
    background-color: #F5F4FA;
    }
.about-list{
    display: flex;
}
 .about-item+.about-item{
    margin-left: 30px;
} 
.about-item{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.about-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-link-mailto);
margin-bottom: 50px;
}
.card{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-title-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-link-mailto);
margin-bottom: 10px;
}
.about-text-profession{
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
 margin-bottom: 16px;
}
.card-socials-list
{
    display: flex;
    justify-content:center;
}
.card-socials-link{
    width: 44px;
    height: 44px;
    background-color: var(--section-h);
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    color:#afb1b8;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .card-socials-icon{
     fill: currentColor; 
} 
.card-socials-link:hover,
.card-socials-link:focus{
    background-color: var(--heder-mailto-color);
    color: var(--section-h);
}


.card-socials-item{
    margin-right: 10px;
}
.card-socials-item:last-child{
    margin-right: 0;
}
/*Постоянные клиенты*/

.client-title{
   font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--heder-link-mailto); 
margin-bottom: 50px;
}

.client-list{
    display: flex;
    justify-content: center;
   
}
.client-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8; 
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .client-item-icon{
     fill: currentColor;
 } 

.client-item-link:hover,
.client-item-link:focus{
color: var(--heder-mailto-color);
border-color: var(--heder-mailto-color);
}
 

.client-item{
    width: 170px;
    height: 92px;
    margin-right: 30px;
}
.client-item:last-child{
    margin-right: 0;
}
  


/*PORTFOLIO*/
.heder-portfolio{
    color: #FFFFFF;
}
.list-portfolio{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}

 .list-btn:last-child { 
     border: none;
 }
   
 .list-btn{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121; 
padding: 6px 22px;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.list-btn:hover,
.list-btn:focus{
    color: var(--section-h);
}
.list-btn{
background: #F5F4FA;
border-radius: 4px;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.list-btn:hover,
.list-btn:focus{
    background-color: var(--heder-mailto-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-btn{
    cursor: pointer;
}

.portfolio-item{
    margin-right: 8px;
}
.portfolio-item:last-child{
    margin-right: 0;
} 
.foto-title{
 background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
} 
.foto-link{
    display: block;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foto-link:hover,
.foto-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}   
.foto-link{
    cursor: pointer;
}

/*foto-list*/

.foto-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.foto-list>.item-img{
      flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}


.item-img{
    background: #FFFFFF;
box-sizing: border-box;
position: relative;
}
.item-img:hover .foto-top-text{
    transform: translateY(0);
}
.foto-top-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
line-height: calc(28 / 18);
letter-spacing: 0.03em;
color: #FFFFFF;
background: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
height: 101%;
/* border-top: -1,250px; */
transform: translateY(100%);
transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.foto-wrap{
    position: relative;
    overflow: hidden;
}
.foto-title{
    padding: 20px 24px 20px 24px;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
 
}

.list-title{
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--heder-link-mailto);
}
.list-text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
}


/*footer*/
.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;  
}
.footer-section{
    align-items: baseline;
    display: flex;
}
.container-logotip +.invite{
    margin-right: 70px;
}
.logotip{
    margin-bottom: 20px;
}

.address-item{
    margin-bottom: 9px;
}
.address-item:last-child{
    margin-bottom: 0;
}

.footer-link{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--heder-mailto-color);
}
.footer-link-studio{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--section-h);
}
.footer-address{
    font-style: normal;
font-size: 14px;
line-height: 1.84;
letter-spacing: 0.03em;
color:  var(--section-h);
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover,
.footer-address:focus{
    color: var(--heder-mailto-color);
}
.footer-contact{
    font-style: normal;
    font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus{
    color: var(--heder-mailto-color);
}
.footer-tel{
    font-style: normal;
    font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--heder-tel-color);
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover,
.footer-tel:focus{
    color: var(--heder-mailto-color);
}
.invite-list{
    display: flex;
    justify-content: center;
    align-items: center;   

}
.container-logotip{
    margin-right: 70px;
}

.invite:last-child{
    margin-right: 0;
}


.invite-title{
    font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}


 .invite-socials-list
{
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}
.invite-socials-link{
    width: 44px;
    height: 44px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    color:#FFFFFF;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .invite-socials-icon{
    fill: currentColor;
} 
.invite-socials-link:hover,
.invite-socials-link:focus{
    background-color: var(--heder-mailto-color);
    color: var(--section-h);
}


.invite-socials-item{
    margin-right: 10px;
}
.invite-socials-item:last-child{
    margin-right: 0;
}   
